<div class="modal fade" id="edit-student" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form action="/students" method="post" id="edit-form">
          <input type="hidden" id="id" name="id" />
          <input type="hidden" name="_method" value="put">
          <div class="form-group">
            <label for="name" class="control-label">Name:</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Name" />
          </div>
          <div class="form-group" class="control-label">
            <label for="city">City:</label>
            <input type="text" id="city" name="city" class="form-control" placeholder="City" />
          </div>
        </form>
        <form action="/students" method="post" id="delete-form">
          <input type="hidden" name="_method" value="delete">
        </form>
      </div>
      <div class="modal-footer">
        <span class="pull-left">
          <button type="button" class="btn btn-danger" id="delete-btn">Delete</button>
        </span>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="edit-btn">Edit</button>
      </div>
    </div>
  </div>
</div>