<html>
  <head>
    <title>Maps!</title>

    <link rel="stylesheet" href="/leaflet.css" />
    <link rel="stylesheet" href="/MarkerCluster.css" />
    <link rel="stylesheet" href="/MarkerCluster.Default.css" />

    <script type="text/javascript" src="/leaflet-src.js"></script>
    <script type="text/javascript" src="/leaflet.markercluster-src.js"></script>
    <script type="text/javascript" src="/application.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>